body {
    margin: 0;
    padding: 0;
    background: #F4C669;
    font-family: sans-serif;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.box-card {
    width: 400px;
    overflow-y: scroll;
    background: #fff;
    height: 500px;
    background: #F2F2F2;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}
.box-card:nth-child(2) {
    width: 600px;
    background: #FFF;
}
.card__section {
    display: flex;
    width: 300px;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
}
.box__wraper {
    width: 300px;
    border: 3px solid #DEDEDE;
    border-radius: 9px;
    background: #fff;
    margin: 20px auto;
}
.box__wraper:hover {
    border: 3px solid #8793C6;
}
.box__chb {
    display: none;
}
.box__chb:checked ~ .box__wraper {
    border: 3px solid #8793C6;
}
.box-section, .card__section {
    height: 94px;
}
.box-section, .box__item {
    width: 520px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #DEDEDE;
}
.box__list {
    list-style: none;
    margin: 0;
    padding: 0;
}
.box__item {
    border: none;
}
.item-price, .box-price {
    margin-left: auto;
}
.item-chooser {
    border: 1px solid #DEDEDE;
    border-radius: 50%;
    margin-right: 30px;
}
.box__title {
    font-weight: 300;
}
.box-price {
    font-weight: 700;
    font-size: 30px;
}
.item-price {
    color: #8797C6;
    font-size: 18px;
    font-weight: 700;
}
.item-price-colored {
    color: #8ACE5E;
}
.box__description {
    color: #B5B5B5;
}
.box__code {
    margin-left: 10px;
}